.btn {
  cursor: pointer;
  border: none;
  padding: 12px 16px;
  margin: 8px 14px;
  font-size: 1em;
  font-family: "Open Sans";
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-radius: 15px;

  &:focus {
    outline: none;
  }
}
.outline {
  background: transparent;
  color: $body-bg;
  box-shadow: 0 0 0 1px $body-bg, 0 0 0 1px $body-bg;

  &:hover {
    background: $body-bg;
    color: #fff;
    transition: all 0.2s ease;
  }

  &:active {
    background: darken($body-bg, 8%);
  }
}

.btn-icon {
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
  }

  &:focus {
    outline: none;
  }
}
