.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  min-height: 100px;
  width: 100%;
  background: #fff;
  margin: 20px;

  .card-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    color: $color-text-muted;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    padding-bottom: 40px;
  }

  .card-footer-accent {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: $color-primary-accent;
  }

  input {
    font-size: 16px;
  }

  img {
    width: 80px;
    display: inline-block;
  }

  span {
    width: 80px;
  }

  p {
    color: lighten($color-text-muted, 10%);
    font-size: 13px;
  }
}
