header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 32px 24px 32px;
  background: $body-bg;
  color: #fff;

  .logo {
    font-family: "Roboto";
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 4px;
    color: #fff;

    &:hover {
      color: darken(#fff, 10%);
    }
  }

  .btn-icon {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    width: 36px;
    fill: $color-primary-accent;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 80px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    padding: 12px 16px 6px 16px;
    z-index: 1;

    p {
      color: #343a40;
      font-weight: 600;
      margin-bottom: 6px;
      cursor: pointer;

      &:hover {
        color: $color-primary-accent;
      }
    }
  }
}
