.input-container {
  display: inline-flex;
  flex-direction: row;
  width: 80%;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 10px 10px 30px;
  background: white;

  input {
    color: $body-color;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    flex-grow: 2;
    border: none;
    &:focus {
      outline: none;
    }
  }

  svg {
    fill: $color-primary-accent;
    height: 32px;
    width: 32px;
  }

  input::placeholder {
    color: $color-text-muted;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  input:focus::-moz-placeholder {
    opacity: 0;
  }

  input:focus:-ms-input-placeholder {
    opacity: 0;
  }

  input:focus:-moz-placeholder {
    opacity: 0;
  }
}
