.login-wrapper {
  .hero-container {
    img {
      margin-left: 20px;
      width: 150px;
    }

    h1 {
      font-weight: 300;
      font-size: 22px;
      margin-top: 15px;
    }
  }

  .card {
    margin: 0 auto;
    margin-top: -70px;
    width: 80%;

    p {
      color: lighten($color-text-muted, 15%);
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
    }

    .input-container {
      padding: 10px 10px 10px 20px;
      width: 90%;

      input {
        font-size: 14px;
      }
    }

    .login {
      border: 1px solid lightgrey;

      &:focus-within {
        border: 1px solid darken(lightgrey, 5%);
      }
    }
  }
}
