.profile-page {
  .container {
    padding-top: 60px;

    h1 {
      font-weight: 400;
      font-size: 2em;
    }

    h2 {
      color: $color-text-muted;
      font-weight: 400;
      font-size: 14px;
      margin-top: 8px;
    }

    button {
      margin-top: 24px;
    }
  }
}
