.translate-page {
  .hero-container {
    padding: 0 0 40px 0;

    h1 {
      font-weight: 300;
      font-size: 22px;
    }

    .input-container {
      margin-top: 32px;
    }
  }
  .card {
    margin-top: 60px;
  }
}
